<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Book Website</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="books.css">
  </head>
  <body>

    <!-- Header -->
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="headerlogo navbar-brand col-lg-5 ms-lg-5" href="#"><img src="logo.png" alt=""></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav fw-medium fs-5">
              <li class="nav-item">
                <a class="nav-link pe-5"  href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link pe-5 active" href="/books">Books</a>
              </li>
              <li class="nav-item">
                <a class="nav-link pe-5" href="/events">Events</a>
              </li>
              <li class="nav-item">
                <a class="nav-link pe-5" href="/review">Review</a>
              </li>
              <li class="nav-item">
                <a class="nav-link pe-5" href="/aboutus">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link pe-5" href="/contact">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <!-- Herosection -->
      <div class="card">
        <img src="books herosec.png" class="img-fluid" alt="...">
        <div class="position-absolute top-50 start-50 translate-middle text-center">
          <h1 class="card-text display-3 fw-medium text-light">BOOKS</h1>
          <div class="d-flex mt-3">
            <div class="homepic">
              <img src="homepic.png" alt="">
            </div>
            <div class="home">
              <a href="/" class="text-decoration-none text-light"><h5 class="mt-1 ms-2">Home</h5></a>
            </div>
            <div class="arrow">
              <img src="arrow.png" class="mt-1 ms-2" alt="">
            </div>
            <div>
              <a href="/books" class="text-decoration-none active"><h5 class="mt-1 ms-2">Books</h5></a>
            </div>
          </div>
        </div>
      </div>

      <!-- FILTER -->
      <section>
        <div class="container-fluid">
          <div class="row">
            <div class=" col-lg-4 mt-5">
              <div class="filters bgfilter">
                <div class="CATEGORY ms-3 pt-5">
                  <h5>CATEGORY</h5>
                </div>
                <div class="filtersline ms-3">
                  <img src="filters line.png" alt="">
                </div>
                <div>
                  <ul class="">
                    <a href="" class="text-decoration-none"><li class="list-group-item allcategories fw-medium fs-5 mt-3">All categories</li></a>
                    <a href="" class="text-decoration-none"><li class="list-group-item mt-3 text-black">Drama</li></a>
                    <a href="" class="text-decoration-none"><li class="list-group-item mt-3 text-black">Mystery</li></a>
                    <a href="" class="text-decoration-none"><li class="list-group-item mt-3 text-black">Novels</li></a>
                    <a href="" class="text-decoration-none"><li class="list-group-item mt-3 text-black">Children's Book</li></a>
                    <a href="" class="text-decoration-none"><li class="list-group-item mt-3 text-black">Science</li></a>
                   </ul>
                </div>
      
                <div class="author mt-5 ms-3">
                  <div>
                    <h5>AUTHOR</h5>
                  </div>
                  <div class="filtersline ">
                    <img src="filters line.png" alt="">
                  </div>
                  <div class="form-check mt-3">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      DBurt Geller
                    </label>
                  </div>
                  <div class="form-check mt-3">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <label class="form-check-label" for="flexCheckChecked">
                      Candy Carson
                    </label>
                  </div>
                  <div class="form-check mt-3">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      Drew Berrymore
                    </label>
                  </div>
                  <div class="form-check mt-3">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <label class="form-check-label" for="flexCheckChecked">
                      Karen Perry
                    </label>
                  </div>
                  <div class="form-check mt-3">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <label class="form-check-label" for="flexCheckChecked">
                      Richard Mann
                    </label>
                  </div>
                </div>
                
                <div class="format mt-5 ms-3">
                  <div>
                    <h5>FORMAT</h5>
                  </div>
                  <div class="filtersline">
                    <img src="filters line.png" alt="">
                  </div>
                  <div class="form-check mt-3">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <label class="form-check-label" for="flexCheckChecked">
                      Online Book
                    </label>
                  </div>
                  <div class="form-check mt-3">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <label class="form-check-label" for="flexCheckChecked">
                      Paper Book
                    </label>
                  </div>
                </div>
      
                <div class="prices mt-5 ">
                  <div>
                    <h5 class="ms-3">PRICE</h5>
                  </div>
                  <div class="filtersline ms-3">
                    <img src="filters line.png" alt="">
                  </div>
                  <div class="col-lg-8 mt-3">
                    <label for="customRange1" class="form-label ms-4">100</label>
                    <label for="customRange1" class="form-label ms-5">500</label>
                    <label for="customRange1" class="form-label ms-5">1000</label>
                    <label for="customRange1" class="form-label ms-5">2000</label>
                    <input type="range" class="form-range ms-2" id="customRange1">
                  </div>
                </div>

                <div class="products mt-5">
                  <div>
                    <h5 class="ms-3">RECENT PRODUCTS</h5>
                  </div>
                  <div class="filtersline ms-3">
                    <img src="filters line.png" alt="">
                  </div>
                  <div class="d-flex">
                    <div class="recent1 mt-3 ms-3">
                      <img src="products book 1.png" alt="">
                    </div>
                    <div class="recentcontent align-self-center">
                      <h5 class="fw-semibold mt-3 ms-4">The penguin classics</h5>
                      <h6 class="fw-medium ms-4 ">Henry Eliot</h6>
                      <a href="" class="text-decoration-none"><h5 class="price fw-semibold ms-4 mt-3">$12.00 - $22.00</h5></a>
                    </div>
                  </div>
                  <div class="d-flex">
                    <div class="recent1 mt-5 mb-5 ms-3">
                      <img src="products book 2.png" alt="">
                    </div>
                    <div class="recentcontent align-self-center">
                      <h5 class="fw-semibold mt-3 ms-4">Instant Loss</h5>
                      <h6 class="fw-medium ms-4 ">Brittany Williams</h6>
                      <a href="" class="text-decoration-none"><h5 class="price fw-semibold ms-4 mt-3 ">$7.90 - $19.00</h5></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class=" col-lg-8">
               <!-- row1 -->
          <div class="row text-center">
            <div class="d-flex d-flex justify-content-between mt-2">
              <div class="results mt-5">
                <p>Showing all 10 results </p>
              </div>
              <div class="d-flex mt-5">
                <div class="sort mt-1 me-1">
                  <a href="" class="text-decoration-none text-black"><p>Sort by latest</p></a>
                </div>
                <div class="arrow">
                  <a href=""><img src="arrow-down.png" class="" alt=""></a>
                </div>
              </div>

            </div>
            <div class="col-lg-4 col-md-4  mt-5">
              <div class="card1">
                <a href=""><img src="book 1.png" class="card-img-top w-75" alt="..."></a>
                <div class="card-body text-center">
                  <h5 class="fw-semibold mt-4">A Doctor in the House</h5>
                  <h6 class="fw-medium">Candy Carson</h6>
                  <a href="" class="text-decoration-none"><h5 class="price fw-semibold mt-3">$7.20 - $17.00</h5></a>
                </div>
              </div>
            </div>
    
            <div class="col-lg-4 col-md-4  mt-5">
              <div class="card2">
                <a href=""><img src="book 2.png" class="card-img-top w-75" alt="..."></a>
                <div class="card-body text-center">
                  <h5 class="fw-semibold mt-4">New Galaxy</h5>
                  <h6 class="fw-medium">Allen green</h6>
                  <a href="" class="text-decoration-none"><h5 class="price fw-semibold mt-3">$7.90 - $16.90</h5></a>
                </div>
              </div>
            </div>
    
            <div class="col-lg-4 col-md-4 mt-5">
              <div class="card3">
                <a href=""><img src="book 3.png" class="card-img-top w-75" alt="..."></a>
                <div class="card-body text-center">
                  <h5 class="fw-semibold mt-4">Pushing Clouds</h5>
                  <h6 class="fw-medium">Candy Carson</h6>
                  <a href="" class="text-decoration-none"><h5 class="price fw-semibold mt-3">$9.20 - $16.00</h5></a>
                </div>
              </div>
            </div>
          </div>

          <!-- row2 -->
          <div class="row text-center">
            <div class="col-lg-4 col-md-4  mt-5">
              <div class="card4">
                <a href=""><img src="book 4.png" class="card-img-top w-75" alt="..."></a>
                <div class="card-body text-center">
                  <h5 class="fw-semibold mt-4">Terrible Madness</h5>
                  <h6 class="fw-medium">Drew Berrymore</h6>
                  <a href="" class="text-decoration-none"><h5 class="price fw-semibold mt-3">$10.20 - $22.00</h5></a>
                </div>
              </div>
            </div>
    
            <div class="col-lg-4 col-md-4  mt-5">
              <div class="card5">
                <a href=""><img src="book 5.png" class="card-img-top w-75" alt="..."></a>
                <div class="card-body text-center">
                  <h5 class="fw-semibold mt-4">The penguin classics</h5>
                  <h6 class="fw-medium">Henry Eliot</h6>
                  <a href="" class="text-decoration-none"><h5 class="price fw-semibold mt-3">$12.00 - $22.00</h5></a>
                </div>
              </div>
            </div>
    
            <div class="col-lg-4 col-md-4 mt-5">
              <div class="card6">
                <a href=""><img src="book 6.png" class="card-img-top w-75" alt="..."></a>
                <div class="card-body text-center">
                  <h5 class="fw-semibold mt-4">Instant Loss</h5>
                  <h6 class="fw-medium">Brittany Williams</h6>
                  <a href="" class="text-decoration-none"><h5 class="price fw-semibold mt-3">$7.90 - $19.00</h5></a>
                </div>
              </div>
            </div>
          </div>

          <!-- row3 -->
          <div class="row text-center">
            <div class="col-lg-4 col-md-4  mt-5">
              <div class="card7">
                <a href=""><img src="book 7.png" class="card-img-top w-75" alt="..."></a>
                <div class="card-body text-center">
                  <h5 class="fw-semibold mt-4">Brett wilson </h5>
                  <h6 class="fw-medium">John V.suter</h6>
                  <a href="" class="text-decoration-none"><h5 class="price fw-semibold mt-3">$11.00 - $20.20</h5></a>
                </div>
              </div>
            </div>
    
            <div class="col-lg-4 col-md-4  mt-5">
              <div class="card8">
                <a href=""><img src="book 8.png" class="card-img-top w-75" alt="..."></a>
                <div class="card-body text-center">
                  <h5 class="fw-semibold mt-4">Hope another way</h5>
                  <h6 class="fw-medium">Mary catell</h6>
                  <a href="" class="text-decoration-none"><h5 class="price fw-semibold mt-3">$7.20 - $17.00</h5></a>
                </div>
              </div>
            </div>
    
            <div class="col-lg-4 col-md-4 mt-5">
              <div class="card9">
                <a href=""><img src="book 9.png" class="card-img-top w-75" alt="..."></a>
                <div class="card-body text-center">
                  <h5 class="fw-semibold mt-4">Best of enemies</h5>
                  <h6 class="fw-medium">Gus russo</h6>
                  <a href="" class="text-decoration-none"><h5 class="price fw-semibold mt-3">$3.20 - $17.00</h5></a>
                </div>
              </div>
            </div>
          </div>
            </div>
          </div>
        </div>
      </section>


      <!-- offer -->
      <section>
        <div class="container-fluid bgoffer">
          <div class="d--lg-flex d-md-flex justify-content-around align-items-lg-center align-items-md-center pt-5 pb-5 mt-5 text-center">
            <div class="offer">
              <h4>Get -30% purchase on order over $299.00</h4>
            </div>
            <div class="more mt-lg-0 mt-md-0 mt-4">
              <button class="moreinfo btn-lg fw-semibold rounded-1 fs-5 ps-4 pe-4 pt-2 pb-2" type="submit">MORE INFO</button>
            </div>
          </div>
        </div>
      </section>
      

      <!-- FOOTER -->
      <section>
        <div class="container-fluid bgfooter">
          <div class="row mt-5">
            <div class=" col-lg-4">
              <div class="logo col-lg-3 mt-lg-4 mt-4 ms-lg-2 ms-md-2">
                <img src="logo.png" alt="" class="">
              </div>
              <div class="col-lg-7 ">
                <p class=" address tribe fs-5 mt-lg-3 mt-lg-3 mt-md-0 ms-lg-4 ms-md-4 ms-3">Puputan Renon East ST. 1190 Denpasar, Bali.</p>
              </div>
              <div class="d-flex mt-lg-4 mt-md-0 col-lg-3 ms-lg-3 ms-md-3 ms-2">
                <div class="map">
                  <a href=""><img src="map.png" alt=""></a>
                </div>
                <div class="maptext mt-1 col-lg-12">
                  <a href="" class="text-decoration-none"><p>SHOW ON MAP</p></a>
                </div>
              </div>
            </div>

            <div class="col-lg-8 justify-content-evenly">
              <div class="row mt-lg-4 mt-md-0">
                <div class="col-lg-3 col-12 col-md-3">
                  <ul class="usefull">
                   <a href="" class="text-decoration-none"><li class="list-group-item fw-semibold fs-5 mt-4 text-black">Usefull links</li></a>
                   <a href="" class="text-decoration-none"><li class="list-group-item mt-3">About</li></a>
                   <a href="" class="text-decoration-none"><li class="list-group-item mt-3">Book</li></a>
                   <a href="" class="text-decoration-none"><li class="list-group-item mt-3">News &Update</li></a>
                   <a href="" class="text-decoration-none"><li class="list-group-item mt-3">Promo</li></a>
                   <a href="" class="text-decoration-none"><li class="list-group-item mt-3 mb-lg-5 mb-md-5 ">Author</li></a>
                  </ul>
                </div>
        
                <div class="col-lg-3 col-12 col-md-3">
                  <ul class="information">
                   <a href="" class="text-decoration-none"><li class="list-group-item fw-semibold fs-5 mt-4 text-black">Information</li></a>
                   <a href="" class="text-decoration-none"><li class="list-group-item mt-3">Suppliers</li></a>
                   <a href="" class="text-decoration-none"><li class="list-group-item mt-3">New Products</li></a>
                   <a href="" class="text-decoration-none"><li class="list-group-item mt-3">Delivery & Returns</li></a>
                   <a href="" class="text-decoration-none"><li class="list-group-item mt-3">Loyalty Program</li></a>
                   <a href="" class="text-decoration-none"><li class="list-group-item mt-3 mb-lg-5 mb-md-5">Gfit Cards</li></a>
                  </ul>
                </div>
        
                <div class="col-lg-3 col-12 col-md-3">
                  <ul class="Company">
                   <a href="" class="text-decoration-none"><li class="list-group-item fw-semibold fs-5 mt-4 text-black">Company</li></a>
                   <a href="" class="text-decoration-none"><li class="list-group-item mt-3">Sitemap</li></a>
                   <a href="" class="text-decoration-none"><li class="list-group-item mt-3">Work Hours</li></a>
                   <a href="" class="text-decoration-none"><li class="list-group-item mt-3">Office</li></a>
                   <a href="" class="text-decoration-none"><li class="list-group-item mt-3">Payment</li></a>
                   <a href="" class="text-decoration-none"><li class="list-group-item mt-3 mb-lg-5 mb-md-5">Help Center</li></a>
                  </ul>
                </div>
        
                <div class="col-lg-3 col-12 col-md-3">
                  <ul class="Support">
                   <a href="" class="text-decoration-none"><li class="list-group-item fw-semibold fs-5 mt-4 text-black">Support</li></a>
                   <a href="" class="text-decoration-none"><li class="list-group-item mt-3">Privacy Policy</li></a>
                   <a href="" class="text-decoration-none"><li class="list-group-item mt-3">Support</li></a>
                   <a href="" class="text-decoration-none"><li class="list-group-item mt-3">Disclaimer</li></a>
                   <a href="" class="text-decoration-none"><li class="list-group-item mt-3">FAQ</li></a>
                   <a href="" class="text-decoration-none"><li class="list-group-item mt-3 mb-lg-5 mb-md-5">Terms & Condition</li></a>
                  </ul>
                </div>
              </div>
            </div>
          </div> 
          <div>
          </div>
          
        </div>
        <div class="container-fluid bgcopyright">
          <div class="row pt-4">
            <div class=" col-lg-10 col-md-9 text-center text-lg-start text-md-start">
              <div class="copyright">
                <a href="" class="text-decoration-none"><p class=" ms-lg-4 ms-md-0">Copyright © 2023 Designed by Vikram. All Rights Reserved.</p></a>
              </div>
            </div>
            <div class=" col-lg-2 col-md-3 text-center pb-4">
              <div class="socialicons">
                <a href=""><img src="social icons.png" alt=""></a>
              </div>
            </div>
          </div>
        </div>
      </section>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </body>
  </html>